In [1]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
model = LogisticRegression()

In [3]:
df = pd.read_csv('titanic.csv')

In [4]:
df.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [4]:
X = df[['Fare', 'Age']].values
y = df['Survived']

In [5]:
model.fit(X,y)

LogisticRegression()

In [6]:
print(model.coef_, model.intercept_)

[[ 0.01615949 -0.01549065]] [-0.51037152]

In [7]:
y_pred = model.predict(X)

In [11]:
print(model.predict(X[:5]))

[0 1 0 0 0]

In [8]:
print(y[:5])

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [9]:
print((y == y_pred).sum())

580

In [10]:
y.shape[0]

887

In [11]:
print((y == y_pred).sum() / y.shape[0])

0.6538895152198422

In [12]:
print(model.score(X,y))

0.6538895152198422